<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="robots" content="noindex">

	##JQUERYINCLUDE##
	<script src="##root##src/template/comode.js?v=##VER##"></script>

	<title>##TITLE##</title>

	<script src="../gestioneutenti/template/dettaglio.js?v=##VER##"></script>

</head>
<body class="##bodyclass##">
<div class="panel2">
	<div class="titlecontainer">
		<h1 class='title'>##TITLE##</h1> <a href="javascript:checkConStato()" class="salva"> {Save}</a>
	</div>
</div>


<div class="corpo">
	##STARTFORM##
	<fieldset class='mainfieldset'>
		<legend>{Insert your envato purchase code}</legend>
		<div id='Datiprincipali'>
		<table>
			<tr>
				<td class="small">{Purchase code}*</td>
				<td class="small">##pc##</td>
			</tr>
		</table>
		</div>
	</fieldset>
	##ENDFORM##
</div>



</body>
</html>